// Colors
$primary-red: hsl(0, 100%, 74%);
$primary-green: hsl(154, 59%, 51%); 
$accent: hsl(248, 32%, 49%);
$neutral-dark-blue: hsl(249, 10%, 26%);
$neutral-grayish-blue: hsl(246, 25%, 77%);  

body {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    background-color: $primary-red;
    text-align: center;
}
    
.Text-block {
    color: white;
    padding-top: 10%;
    
    h1 {
        font-size: 175%;
    }
    
    h1 > p {
        padding: 0% 8%;
    }
}

#try-it {
    background-color: $accent;
    color: white;
    border-radius: 10px;
    padding: 7% 15%;
    margin-left: 4%;
    margin-right: 4%;
    font-weight: 200;
    box-shadow: 0px 8px 2px hsl(249, 10%, 26%, 0.2);
}

.Signup-form {
    background-color: white;
    border-radius: 10px;
    padding: 7% 4%;
    margin: 0% 4%;
 
    .iconInside {
        position:relative;
    }
    
    .iconInside ion-icon {
        font-size: 125%;
        position:absolute;
        left:85%;
        padding-top: 5%;
        color: $primary-red;  
    }

    input {
        width: 265px;
        height: 50px;
        border-radius: 5px;
        padding-left: 5%;
        border: 0.5px solid $neutral-dark-blue;
        opacity: 0.7;        
    }
    
    div > p {
        visibility: hidden;
        margin: 0%;
        color: $primary-red;
        text-align: right;
        font-size: 65%;
        padding-right: 2%;
    }

    #error1 {
        visibility: hidden;
    }
    #error2 {
        visibility: hidden;
    }
    #error3 {
        visibility: hidden;
    }
    #error4 {
        visibility: hidden;
    }

    #button {
        background-color: $primary-green;
        color: white;
        border-style: none;
        border-bottom: 4px solid hsl(154, 69%, 37%, 0.4);
        width: 279px;
        height: 55px;
        border-radius: 5px;
        font-size: 90%;
        letter-spacing: 2px;
    }

    .Terms {
        color: $neutral-grayish-blue;
        font-size: 75%;
        margin-left: 15px;
        margin-right: 15px;
        padding-top: 0%;
        line-height: 25px; 
    }
}

footer {
    padding: 2% 5% 15% 0%;
    font-size: xx-small;
    color: white;
}

@media screen 
and (min-width: 320px)
and (max-width: 800px) {
    body {
        background-image: url("/bg-intro-mobile.png");
    }
    
    .Sign-up {
        display: grid;
        grid-template-rows: 300px auto;

        .Signup-form {
            width: 84%;
        }
    }
}

@media screen
and (min-width: 799px)
and (max-width: 1112px) {
    body {
        background-image: url("/bg-intro-desktop.png");
        text-align: left;
    }
    
    .Sign-up {
        display: grid;
        grid-template-columns: 50% 50%;
        padding: 5% 5%;
        padding-bottom: 1%;

        .Text-block {
            color: white;
            padding: 40% 12% 0% 10%;
            
            h1 {
                font-size: 200%;
                line-height: 40px;
            }
        }

        #try-it {
            text-align: center;
        }
        
        .Signup-form {
            
            input {
                width: 350px;
                font-size: 95%;
            }
            
            #button {
                width: 374px;
            }
            
            .Terms {
                text-align: center;
                font-size: 55%;
            }
        }
    }
    
    footer {
        float: right;
        padding:0% 10%;
    } 
}

@media screen 
and (min-width: 1113px)
and (max-width: 1500px) {
    body {
        background-image: url("/bg-intro-desktop.png");
        text-align: left;
    }
    
    .Sign-up {
        display: grid;
        grid-template-columns: 50% 50%;
        padding: 7% 7%;
        padding-bottom: 1%;
        
        .Text-block {
            color: white;
            padding: 27% 12% 0% 10%;
            
            h1 {
                font-size: 275%;
                line-height: 50px;
            }
        }
        
        input {
            width: 455px;
            font-size: 95%;
        }

        .iconInside ion-icon {
            font-size: 145%;
            left:85%;
            padding-top: 3%;
        }

        #button {
            width: 484px;
        }

        .Terms {
            text-align: center;
            font-size: 60%;
        }
    }
    
    footer {
        float: right;
        padding:0% 10%;
    }
}
