// Colors

$primary-red: hsl(0, 100%, 74%);
$primary-green: hsl(154, 59%, 51%); 
$accent: hsl(248, 32%, 49%);
$neutral-dark-blue: hsl(249, 10%, 26%);
$neutral-grayish-blue: hsl(246, 25%, 77%);  

body {
    font-family: 'Poppins', sans-serif;
    // - Weights: 200, 500, 600, 700
    font-size: 16px;
    background-color: $primary-red;
    text-align: center;
}
    
.Text-block {
    color: white;
    
    h1 {
        font-size: 175%;
    }
    
    h1 > p {
        padding: 0% 8% 0% 8%;
    }
}

#try-it {
    background-color: $accent;
    color: white;
    border-radius: 10px;
    padding: 7% 15%;
    margin-left: 4%;
    margin-right: 4%;
    font-weight: 200;
}

.Signup-form {
    background-color: white;
    border-radius: 10px;
    padding: 7% 4%;
    margin: 0% 4%;

    div > p {
        visibility: hidden;
    }

    input {
        // width: 275px;
        // height: 30px;
        border-radius: 5px;
        border-style: none;
    }

    .iconInside {
        position:relative;
    }

    .iconInside ion-icon {
        position:absolute;
        left:240px;
        padding:5px 10px 0px 0px;
        color: $primary-red;  
    }
}


@media screen 
and (min-width: 320px)
and (max-width: 480px) {
    body {
        background-image: url("/bg-intro-mobile.png");
    }
    
    .Sign-up {
        display: grid;
        grid-template-rows: 300px 300px;

        .Signup-form {
            width: 300px;
        }
    }
}